#requests-filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.bank-input-group {
    box-sizing: border-box;
    flex: 1 1 calc(50% - 0.5rem); 
}
  
.bank-input-group.col-6 {
    max-width: calc(50% - 0.5rem); 
}