<nav id="nav" class="navbar navbar-expand-lg navbar-dark border-bottom border-light bank-bg-primary">
    <div id="container-nav">
        <span class="navbar-brand logo">
            <a routerLink="/feed" class="brand-link text-light">
                Banco de Tempo
            </a>
        </span>
        <span id="menu-btn" class="navbar-toggler navbar-toggler-right collapsed" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleMenu()">
            <span *ngIf="isMenuOpen" id="close-menu" class="my-1 mx-2 close">X</span>
            <span *ngIf="!isMenuOpen" id="open-menu" class="navbar-toggler-icon"></span>
        </span>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link button-links" routerLink="/profile" onclick="changeActiveLink(event)">
                        <fa-icon [icon]="faUser" class="nav-icon"></fa-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-links" routerLink="/" onclick="changeActiveLink(event)">
                        <fa-icon [icon]="faBell" class="nav-icon"></fa-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-links" routerLink="/" onclick="changeActiveLink(event)">
                        <fa-icon [icon]="faMessage" class="nav-icon"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>