<div id="profile-card-wrap" class="">
    <div id="profile-card" class="card">
        <div class="row g-0">
            <div class="col-md-4 flex-center">
                <img src="../../../assets/ignore-assets/user-01.jpeg" class="img-fluid profile-img" alt="foto de perfil do usuário">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="line">
                        <h5 class="card-title">Carmila</h5>
                        <span>Saldo: {{balance}}h</span>
                        <button class="btn btn-secondary" (click)="onEditProfileClick()">
                            Editar perfil
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>