<div id="profile-card-wrap" class="">
    <div id="profile-card" class="card">
        <div class="row g-0">
            <div class="col-md-4 flex-center">
                <img src="../../../assets/ignore-assets/user-01.jpeg" class="img-fluid profile-img" alt="foto de perfil do usuário">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Carmila</h5>
                    <p class="card-text">
                        Bio de usuário. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, cum!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>