#profile-card {
    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-img {
    border-radius: 100%;
    width: 40%;
}

.card-body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
}

.card-title {
    margin-bottom: 0;
}

.line {
    display: flex;
    align-items: center;
    gap: 2rem;
}