<div id="user-card" class="card">
    <div class="card-header">
        <!-- <img src={{userData.urlUserImage}} alt=""> -->
        <div>{{userData.userName}}</div>
        <div>{{userData.talentName}}</div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="bank-input-group">
                <label for="shcedule">Horário</label>
                <select name="schedule" id="schedule" class="bank-input">
                    <option value="" disabled selected hidden>Selecione um horário</option>
                    <option *ngFor="let entry of userData.schedules | keyvalue" [value]="entry.value">{{entry.key}} </option>
                </select>
            </div>

            <div class="bank-input-group">
                <label for="qtdHours">Quantas horas deseja solicitar?</label>
                <input 
                    type="number" 
                    id="qtdHours" 
                    name="qtdHours" 
                    class="bank-input" 
                    min="1" 
                    max="24" 
                    required
                >
            </div> 
            <div class="bank-input-group">
                <input type="submit" value="Solicitar" class="primary-btn">
            </div>
        </form>
    </div>
    <!--  -->
</div>