#user-card {
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 1rem;
}

.card-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header img {
    width: 30%;
    height: auto;
    border-radius: 100%;
}