<div id="landing-page" class="full-page flex-center">
    <div class="landing-container">
        <article id="hero" class="side-content light-text flex-center">
            <div id="hero-content" class="card">
                <h1 class="title">
                    <fa-icon [icon]="faClock" class="title-icon"></fa-icon>
                    Banco de Tempo
                </h1>
                <h2 class="sub-title">Compartilhando tempo e gerando riqueza</h2>
                <section id="image-content">
                    <img id="visual-bank" src="../../../../assets/calendario.png" alt="">
                </section>
            </div>
        </article>
        <article id="form-content" class="side-content light-text flex-center">
            <div class="line">
                <h1 class="title form-titles">
                    <fa-icon [icon]="faClock" class="title-icon"></fa-icon>
                    Banco de Tempo
                </h1>
                <h2 class="sub-title form-titles">Compartilhando tempo e gerando riqueza</h2>
            </div>
            <div id="enter-card" class="card">
                <div id="enter-card-header" class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                        <li class="nav-item enter-tab">
                            <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#login">Login</a>
                        </li>
                        <li class="nav-item enter-tab">
                            <a class="nav-link" data-bs-toggle="tab" href="#cadastro">Cadastro</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="login">
                        <form action="">
                            <div class="bank-input-group">
                                <input type="email" name="" id="" class="bank-input" placeholder="Email">
                                <input type="password" name="" id="" class="bank-input" placeholder="Senha">
                            </div>
                            <input type="submit" value="Logar" class="primary-btn">
                        </form>
                    </div>
                    <div class="tab-pane" id="cadastro">
                        <form action="">
                            <div class="bank-input-group">
                                <input type="text" name="" id="" class="bank-input" placeholder="Nome">
                                <input type="email" name="" id="" class="bank-input" placeholder="Email">
                                <input type="password" name="" id="" class="bank-input" placeholder="Senha">
                            </div>
                            <input type="submit" value="Cadastrar" class="primary-btn">
                        </form>
                    </div>
                </div>
                <div id="enter-card-footer" class="card-footer">
                    <fa-icon [icon]="faFacebook" class="fa-social-icon fa-bg-facebook flex-center"></fa-icon>
                    <fa-icon [icon]="faInstagram" class="fa-social-icon fa-bg-instagram flex-center"></fa-icon>
                    <fa-icon [icon]="faGoogle" class="fa-social-icon fa-bg-google flex-center"></fa-icon>
                </div>
           </div>
        </article>
    </div>
</div>
