<!-- <div id="profile-feed">
    <p>profile-feed works!</p>
</div> -->

<div id="profile-feed" class="card">
    <div id="profile-feed-header" class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item profile-feed-tab">
                <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#postagens">Postagens</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link" data-bs-toggle="tab" href="#talentos">Talentos</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link" data-bs-toggle="tab" href="#horarios">Horários</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane active" id="postagens">
            <p>Postagens</p>
        </div>
        <div class="tab-pane" id="talentos">
            <p>Talentos</p>
        </div>
        <div class="tab-pane" id="horarios">
            <p>Horários</p>
        </div>
    </div>
</div>