#profile-feed {
    background-color: #fff;
    height: 100%;
}

.card-header-tabs {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.profile-feed-tab{
    text-align: center;
}

.nav-link {
    color: var(--bank-primary-color);
}

#profile-feed-header {
    padding: 0;
}

#talent-form {
    --input-count: 2;
}

#schedule-form {
    --input-count: 3;
}

.inline-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.inline-form .bank-input-group {
    height: 45px;
}

.bank-input-group {
    flex: 1 1 calc(10 / 12 * 100% / var(--input-count) - 1rem);
    box-sizing: border-box;
}

.primary-btn {
    flex: 0 0 calc(2 / 12 * 100%);
    box-sizing: border-box;
}

/* .bank-input {
    width: calc(5 / 12 * 100%);
}

.primary-btn {
    width: calc(2 / 12 * 100%);
} */