<div id="profile-feed" class="card">
    <div id="profile-feed-header" class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item profile-feed-tab">
                <a class="nav-link" aria-current="true" data-bs-toggle="tab" href="#postagens">Postagens</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link"  data-bs-toggle="tab" href="#talentos">Talentos</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link" data-bs-toggle="tab" href="#horarios">Horários</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link active" data-bs-toggle="tab" href="#solicitacoes">Favores</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane" id="postagens">
            <app-post *ngFor="let post of postList"
                [urlProfileImage]="post.urlProfileImage"
                [userName]="post.userName"
                [subtitle]="post.subtitle"
                [urlPostImage]="post.urlPostImage"
            ></app-post>
        </div>
        <div class="tab-pane" id="talentos">
            <form (ngSubmit)="talentSubmit(talentForm, formTalent)" [formGroup]="talentForm" #formTalent="ngForm" id="talent-form" class="inline-form">
                <div class="bank-input-group">
                    <input 
                        type="text" 
                        formControlName="name" 
                        name="" 
                        id="talent-name" 
                        class="bank-input" 
                        placeholder="Nome"
                        required>
                    <div *ngIf="name.invalid && formTalent.submitted">
                        <p>O nome é obrigatório!</p>
                    </div>
                </div>    
                <div class="bank-input-group">
                    <input type="text" 
                        formControlName="description" 
                        name="" 
                        id="talent-description" 
                        class="bank-input" 
                        placeholder="Descrição"
                        required>
                    <div *ngIf="description.invalid && formTalent.submitted">
                        <p>A descrição é obrigatória!</p>
                    </div>
                </div>
                <div class="bank-input-group">
                    <select name="tag" id="tag" class="bank-input" formControlName="tag" >
                        <option value="" disabled selected hidden>Categoria</option>

                        <option value="children_and_youth">Crianças e jovens</option>
                        <option value="adult_supervision">Acompanhamento de adultos</option>
                        <option value="home_and_domestic_life">Casa e vida doméstica</option>
                        <option value="animals_and_plants">Animais e plantas</option>
                        <option value="manual_activities">Atividades manuais</option>
                        <option value="administrative_activities">Atividades administrativas</option>
                        <option value="teaching_and_learning">Ensino e aprendizagem</option>
                        <option value="beauty_and_personal_care">Beleza e cuidados pessoais</option>
                    </select>
                    <div *ngIf="tag.invalid && formTalent.submitted">
                        <p>Selecione uma categoria!</p>
                    </div>
                </div>
                <div class="bank-btn-group">
                    <input type="submit" value="Salvar" class="primary-btn align-self-end">
                </div>
            </form>
            <div id="talent-list" class="info-list">
                <table class="table table-striped align-middle">
                    <thead>
                      <tr>
                        <th scope="col" class="col-3">Nome</th>
                        <th scope="col" class="col-3">Descrição</th>
                        <th scope="col" class="col-3">Tag</th>
                        <th scope="col" class="col-2">Remover</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let talent of talentList" class="talent-item">
                        <td class="">{{talent.name}}</td>
                        <td class="">{{talent.description}}</td>
                        <td class="">{{talent.tag}}</td>
                        <td class="text-center">
                            <button (click)="handleRemoveTalent(talent.id!)" class="danger-btn btn btn-danger">
                                <fa-icon [icon]="faTrash" class="flex-center text-light"></fa-icon>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="horarios">
            <form (ngSubmit)="scheduleSubmit(scheduleForm, formSchedule)" [formGroup]="scheduleForm" #formSchedule="ngForm"  id="schedule-form" class="inline-form">
                <div class="bank-input-group">
                    <select name="day" id="day" class="bank-input" formControlName="day">
                        <option value="Domingo">Domingo</option>
                        <option value="Segunda">Segunda</option>
                        <option value="Terça">Terça</option>
                        <option value="Quarta">Quarta</option>
                        <option value="Quinta">Quinta</option>
                        <option value="Sexta">Sexta</option>
                        <option value="Sábado">Sábado</option>
                    </select>
                    <label for="day">Dia da semana</label>
                    <div *ngIf="day.invalid && formSchedule.submitted">
                        <p>O dia deve ser selecionado!</p>
                    </div>
                </div>
                <div class="bank-input-group">
                    <input 
                        type="time" 
                        id="time-init" 
                        name="time-init" 
                        formControlName="timeInit"
                        step="3600" 
                        min="00:00" 
                        max="23:00" 
                        class="bank-input"
                        required
                        >
                    <label for="time-init">Hora inicial</label>
                    <div *ngIf="timeInit.invalid && formSchedule.submitted">
                        <p>Informe a hora inicial!</p>
                    </div>
                </div>
                <div class="bank-input-group">
                    <input 
                        type="time" 
                        id="time-end" 
                        name="time-end" 
                        formControlName="timeEnd"
                        step="3600" 
                        min="00:00" 
                        max="23:00" 
                        class="bank-input"
                        required
                        >
                    <label for="time-end">Hora final</label>
                    <div *ngIf="timeEnd.invalid && formSchedule.submitted">
                        <p>Informe a hora final!</p>
                    </div>
                </div>
                <div class="bank-btn-group">
                    <button type="submit" class="primary-btn ">Salvar</button>
                </div>
            </form>
            <div id="schedule-list" class="info-list">
                <table class="table table-striped align-middle">
                    <thead>
                      <tr>
                        <th scope="col" class="col-3">Dia</th>
                        <th scope="col" class="col-3">Hora inicial</th>
                        <th scope="col" class="col-3">Hora final</th>
                        <th scope="col" class="col-2">Remover</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let schedule of scheduleList" class="schedule-item">
                        <td class="">{{schedule.day}}</td>
                        <td class="">{{schedule.timeBeguin}}</td>
                        <td class="">{{schedule.timeEnd}}</td>
                        <td class="text-center">
                          <button (click)="handleRemoveSchedule(schedule.id!)" class="danger-btn btn btn-danger">
                            <fa-icon [icon]="faTrash" class="flex-center text-light"></fa-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane active" id="solicitacoes">
            <app-requests-body></app-requests-body>
        </div>
    </div>
</div>