<!-- <div id="profile-feed">
    <p>profile-feed works!</p>
</div> -->

<div id="profile-feed" class="card">
    <div id="profile-feed-header" class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
            <li class="nav-item profile-feed-tab">
                <a class="nav-link" aria-current="true" data-bs-toggle="tab" href="#postagens">Postagens</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link active"  data-bs-toggle="tab" href="#talentos">Talentos</a>
            </li>
            <li class="nav-item profile-feed-tab">
                <a class="nav-link" data-bs-toggle="tab" href="#horarios">Horários</a>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane " id="postagens">
            <app-post
                [urlProfileImage]="'../../../assets/ignore-assets/user-02.jpeg'"
                [userName]="'Carmila filha'"
                [subtitle]="'Legenda Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
                [urlPostImage]="'../../../assets/ignore-assets/jardinagem.jpg'"
            ></app-post>

            <app-post
                [urlProfileImage]="'../../../assets/ignore-assets/user-02.jpeg'"
                [userName]="'Carmila filha'"
                [subtitle]="'Legenda Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
                [urlPostImage]="'../../../assets/ignore-assets/xadrez.jpg'"
            ></app-post>

            <app-post
                [urlProfileImage]="'../../../assets/ignore-assets/user-02.jpeg'"
                [userName]="'Carmila filha'"
                [subtitle]="'Legenda Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
                [urlPostImage]="'../../../assets/ignore-assets/violão.jpg'"
            ></app-post>
        </div>
        <div class="tab-pane active" id="talentos">
            <form (ngSubmit)="talentSubmit()" id="talent-form" class="inline-form">
                    <input type="text" 
                        formControlName="talent-name" 
                        name="" 
                        id="talent-name" 
                        class="bank-input" 
                        placeholder="Nome">

                    <input type="text" 
                        formControlName="talent-description" 
                        name="" 
                        id="talent-description" 
                        class="bank-input" 
                        placeholder="Descrição">

                    <input type="submit" value="Salvar" class="primary-btn">
            </form>
        </div>
        <div class="tab-pane" id="horarios">
            <form action="" id="schedule-form" class="inline-form">
                <select name="day" id="day" class="bank-input">
                  <option value="Domingo">Domingo</option>
                  <option value="Segunda">Segunda</option>
                  <option value="Terça">Terça</option>
                  <option value="Quarta">Quarta</option>
                  <option value="Quinta">Quinta</option>
                  <option value="Sexta">Sexta</option>
                  <option value="Sábado">Sábado</option>
                </select>
                <input type="time" id="time-init" name="time-init" step="3600" min="00:00" max="23:00" class="bank-input">
                <input type="time" id="time-end" name="time-end" step="3600" min="00:00" max="23:00" class="bank-input">
                <input type="submit" value="Salvar" class="primary-btn">
            </form>
        </div>
    </div>
</div>