#form-search-container {
    margin-bottom: 1rem;
}

#search-form {
    padding: 1rem;
}

#search-form .line {
    display: flex;
}

.bank-input {
    border: 0.2px solid var(--bs-border-color-translucent);
}

#feed {
    padding: 1rem 1rem 0 1rem;
}

.feed-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 768px){

    #search-form .line {
        flex-direction: column;
    }

}