#form-search-container {
    margin-bottom: 1rem;
}

#search-form {
    padding: 1rem;
}

#search-form .line {
    display: flex;
}

.bank-input {
    border: 0.2px solid var(--bs-border-color-translucent);
}

#feed {
    padding: 1rem;
}

.feed-body {
    border: 1px solid red;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
} 



@media (max-width: 768px){

    #search-form .line {
        flex-direction: column;
    }

}