<div id="main-feed" class="full-page default-page">
    <app-navbar></app-navbar>
    <div class="page-content">
        <app-search-talent (formSubmitted)="handleFormSubmittion($event)" ></app-search-talent>
        <button class="primary-btn" (click)="showData()">Show data</button>
        <div id="feed" class="card flex-fill">
            <div class="feed-body">
                    <app-user-card 
                        *ngFor="let userData of userDataList" 
                        [userData]="userData">
                    </app-user-card>
            </div>
        </div>
    </div>
</div>
