<div id="edit-profile" class="card">
    <div class="card-header">
        <h5>Editar perfil</h5>
        <button class="btn btn-secondary">
            <fa-icon [icon]="faClose" class="icon"></fa-icon>
        </button>
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nostrum odio dignissimos, quae vitae tenetur nemo eius quisquam, sunt nesciunt facere earum officia quia incidunt molestias inventore numquam quos aut, dolor quam illo dicta? Eaque modi quas voluptates ut alias aut pariatur, adipisci consequuntur tempore, sint neque repellendus cupiditate harum.
        </p>
    </div>
</div>