<div id="form-search-container" class="card">
    <form 
        (ngSubmit)="searchFavor(searchForm, formSearch)"
        [formGroup]="searchForm"
        #formSearch="ngForm"
        id="search-form" class=""
        >

        <div class="row gx-2">
            <div class="bank-input-group col-9">
                <label for="tag">Categoria</label>
                <select name="tag" id="tag" class="bank-input" formControlName="tag" >
                    <option value="CRIANÇAS_E_JOVENS">Crianças e jovens</option>
                    <option value="ACOMPANHAMENTO_DE_ADULTOS">Acompanhamento de adultos</option>
                    <option value="CASA_E_VIDA_DOMESTICA">Casa e vida doméstica</option>
                    <option value="ANIMAIS_E_PLANTAS">Animais e plantas</option>
                    <option value="ATIVIDADES_MANUAIS">Atividades manuais</option>
                    <option value="ATIVIDADES_ADMINISTRATIVAS">Atividades administrativas</option>
                    <option value="ENSINO_E_APRENDIZAGEM">Ensino e aprendizagem</option>
                    <option value="BELEZA_E_CUIDADOS_PESSOAIS">Beleza e cuidados pessoais</option>
                </select>
                <div *ngIf="tag.invalid && formSearch.submitted">
                    <p>Selecione uma categoria!</p>
                </div>
            </div>
            <div class="bank-input-group col-3">
                <button id="search-talent-btn" type="submit" class="bank-btn primary-btn">
                    <fa-icon [icon]="faMagnifyingGlass" class="text-light"></fa-icon>
                    Pesquisar
                </button>
            </div>
        </div>
    </form>
</div>