#form-search-container {
    margin-bottom: 1rem;
}

#search-form {
    padding: 1rem;
}

#search-form .line {
    display: flex;
}

.bank-input {
    border: 0.2px solid var(--bs-border-color-translucent);
    height: 45px;
}

#search-talent-btn {
    margin-top: 24px;
}