/* You can add global styles to this file, and also import other style files */
* {
    font-family: inter, sans-serif;
}

:root {
    --bank-primary-color: #374482;
    --bank-secondary-color: #6C757D;
    --bank-emphasis-color: #DFE30E;
    --bank-bg-light-color: #F0F3F4;
    --bank-light-color: #F8F9FA;
    --bank-bg-dark-color: #1b2c3c; 
    --bank-bg-dark-hoover: rgba(33, 37, 41, 0.10);
    --bank-dark-color: #212529; 
    --bank-danger-color: #B22222;
}

#wrap {
    /* width: 100vw; */
    height: 100vh;
    background-color: var(--bank-bg-light-color);
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-page {
    width: 100%;
    height: 100%;
}

.default-page {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-body-bg);
}

.page-content {
    width: 768px;
    max-width: 1800px;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.light-text {
    color: var(--bank-light-color);
}

.bank-bg-primary {
    background-color: var(--bank-primary-color);
}


.red {
    border: 1px solid red;
}



/* Forms */

.bank-input-top{
    border-bottom: solid 0.5px #000;
    border-bottom-color: #ccc;
    border-radius: 5px 5px 0 0;
}

.bank-input-bottom{
    border-radius:  0 0 5px 5px;
    border-bottom: none;
}

.bank-input-group{
    margin-bottom: 15px;
}

.bank-input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: var(--bank-light-color);
    outline: none;
    font-family: poppins, sans-serif;
    transition: all .25s ease;
    border-bottom: solid 0.5px var(--bank-bg-dark-color);
    border-bottom-color: #ccc;
}

/* .bank-input- */

.bank-input:focus{
    border: 1px solid var(--bank-primary-color);
}

.bank-btn {
    width: 100%;
    height: 45px;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.primary-btn{
    /*  */
    background-color: var(--bank-primary-color);
    color: var(--bank-light-color);
}

.secondary-btn {
    /*  */
    background-color: var(--bank-emphasis-color);
    color: var(--bank-primary-color);
    font-size: 18px;
}

.secondary-btn:hover {
    background-color: var(--bank-emphasis-color);
}

/*  */

.post-interact-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Breakpoints */

@media (max-width: 1024px){
    .page-content {
        width: 720px;
    }
}

@media (max-width: 768px){
    .page-content {
        width: 450px;
    }
}

@media (max-width: 480px){
    .page-content {
        width: 300px;
    }
}

@media (max-width: 320px){
    .page-content {
        width: 95%;
    }
}